@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
    height: 100vh;
    background: #eee;
    @include center;
    perspective: 900px;
    transform-style: preserve-3d;

    main {
        width: 400px;
        height: 400px;
        position: relative;
        animation-name: spin;
        animation-duration: 5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        transform-style: preserve-3d;

        aside {
            width: inherit;
            height: inherit;
            position: absolute;
            @include center;
            font-size: 3rem;


            &.side-1 {
                background: rgba($color: #ef0000, $alpha: .5);
                transform: translate3d(-50%,0,0) rotateY(-90deg);
            }
            &.side-2 {
                background: rgba($color: #34ef00, $alpha: .5);
                transform: translate3d(50%,0,0) rotateY(90deg);
            }
            &.side-3 {
                background: rgba($color: #003cef, $alpha: .5);
                transform: translate3d(0,-50%,0) rotateX(90deg);
            }
            &.side-4 {
                background: rgba($color: #00ebef, $alpha: .5);
                transform: translate3d(0,50%,0) rotateX(-90deg);
            }
            &.side-5 {
                background: rgba($color: #c300ef, $alpha: .5);
                transform: translate3d(0,0,200px) rotateY(0deg);
            }
            &.side-6 {
                background: rgba($color: #efdb00, $alpha: .5);
                transform: translate3d(0,0,-200px) rotateY(180deg);
            }
        }

        @keyframes spin {
            0% { transform: rotateY(0deg) rotateX(0deg); }
            100% { transform: rotateY(360deg) rotateX(360deg); }
        }
    }
}